.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
#twitter{
background-color: #ee5569;
color: #fff;
}
#fbook{
background-color:#3b5998;
color: #fff;
}
.btn-lg{
    width: 100%;
    display: block;
    margin: 10px 0;
}
#form-title{
    text-align: center;
    color: rgb(104, 103, 103);
    margin-left: 50px;
}

#email,#password{
    background: #eee;
}
#fname{
    background: #eee;
    width: 220px;
    margin-right: 12px;
}
#lname{
    background: #eee;
    width: 220px;
}
#privacy{
    text-decoration: none;
}
#login{
    text-decoration: none;
}
#terms{
    font-size: 12px;
}
#already{
    text-align: center;
}
#branding{
    margin-left: 20px;
  }
#branding Link{
    display: flex;
    position: relative;
}
 #branding #Logo{
    width: 50px;
    /*margin: 5px 10px ;*/
    margin-left: 110px;
    position: absolute;
  }
  #register-form{
    margin-left: 50px;
    justify-content: center;
  }
  /*#create-account{
    background-color: #7777;
  }*/
