.footer{
    margin-top: 0px;
    /*background:rgb(31, 47, 116);*/
    color: black;
    padding-bottom: 0px;
    
  }
.footer h2{
    font-size: 15px;
    margin: 0px 0;
    
  }
  .footer p{
    font-size: 12px;
  }
  #playstore{
  height: 50px;
  cursor: pointer;
   
  }
  #applestore{
    height: 50px;
    cursor: pointer;
  }   