.footer{
    margin-top: 0px;
    /*background:rgb(31, 47, 116);*/
    color: black;
    padding-bottom: 0px;
    
  }
.footer h2{
    font-size: 20px;
    margin: 0px 0;
    font-weight: 600;
  }
  .footer p{
    font-size: 16px;
    color: black;
  }
  .footer p:hover{
    color:  rgb(20, 175, 175);
  }
  #playstore{
  height: 50px;
  cursor: pointer;
   
  }
  #applestore{
    height: 50px;
    cursor: pointer;
  } 
 