.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  position: relative;
  margin-top: 10px;
  align-items: center;
}
.navbar h2{
  position: absolute;
  font-family: 'Trebuchet MS';
  margin-left: 105px;
  font-size: 30px;
  font-weight: 500;
  color: blue;
  padding-top: 10px;
}
#logo{
  width: 50px;
  margin: 0 10px ;
  margin-left: 50px;
}
.navbar #searchbar{
  position: absolute;
  margin-left: 230px;
  width: 30%;
  border-radius: 20px;
  border:1px solid gray;
  outline: none;
  height: 40px;
}
 #navmenu{
  float: right;
  display: flex;
 }
.navbar ul{
  display: inline-flex;
  float: right;
  list-style: none;
  margin: 0 0;
  margin-right: 50px;
}
.navbar ul li{
  padding: 0 10px;
  color: black;
  font-weight: 600;
  font-size: 15px;
  font-family: 'poppins',sans-serif;
}
.navbar ul li:hover{
  cursor: pointer;
  color: rgb(29, 231, 221);
}
#profile{
  width: 32px;
 margin: 0 0;
 cursor: pointer;
}
.footer{
  margin-top: 0px;
  /*background:rgb(31, 47, 116);*/
  color: black;
  padding-bottom: 0px;
}
.footer h2{
  font-size: 15px;
  margin: 0px 0;
}
.footer p{
  font-size: 12px;
}
#playstore{
height: 50px;
cursor: pointer;
 
}
#applestore{
  height: 50px;
  cursor: pointer;
}


